@page  "/Profile"
@model TODOFront.Pages.User.Profile
@{
    ViewData["Title"] = "Unimble Task - Perfil do Usuário";
}

<head>
    <link rel="stylesheet" href="~/css/user/profile.css" type="text/css"/>
</head>

<div class="wrapper">
    <div class="profile-container">
        <h2 class="text-center">Perfil do usuário</h2>
        <div class="profile-content">
            <img src="https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436178.jpg?w=740&t=st=1687185747~exp=1687186347~hmac=ccfe212aade382894dbc86b8981456784b795ee9bc90b0f5fb577e0a1730aff1" />
            <div class="user-data">
                <p><strong>Usuário:</strong> @Model.ExistingUser!.UserName</p>
                <p><strong>E-mail:</strong> @Model.ExistingUser!.Email</p>
                @if (Model.ExistingUser!.IsPremium)
                {
                    <p class="premium-user"><strong>Usuário premium</strong> &#128081;</p>
                }
                else
                {
                    <p class="standart-user"><strong>Usuário padrão</strong> &#129506;</p>
                }
            </div>
        </div>
        <form class="btn-container" method="post">
            <a asp-page="/User/Edit" class="btn btn-primary">Editar Perfil</a>
            <button type="submit" class="btn btn-link text-danger">Encerrar sessão</button>
        </form>
    </div>
</div>

