.task-table {
    width: 80%;
    margin: 5vh auto;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    table-layout: fixed;
}

    .task-table thead {
        position: relative;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

.task-row {
    background-color: #fff;
}

    .task-row td {
        padding: 10px;
        text-align: center;
        word-wrap: break-word;
    }

        .task-row td:first-child {
            width: 10%;
        }

        .task-row td:nth-child(2) {
            width: 50%;
        }

        .task-row td:nth-child(3) {
            width: 20%;
        }

        .task-row td:last-child {
            width: 20%;
        }

    .task-row input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        width: 18px;
        height: 18px;
        border: 2px solid #ccc;
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        vertical-align: middle;
        position: relative;
    }

        .task-row input[type="checkbox"]:checked {
            background-color: #007bff;
            border-color: #007bff;
        }

            .task-row input[type="checkbox"]:checked::before {
                content: "\2713";
                color: white;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                vertical-align: middle;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

.task-action {
    display: inline-block;
    margin-left: 10px;
}

    .task-action:hover {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
        transform: scale(1.1);
    }

.textbox {
    border: none;
    border-bottom: 1px solid #cfd8dc;
    background-color: transparent;
    padding: 5px 0 0 10px;
    font-size: 16px;
    outline: none;
    width: 80%;
}

.btn-add {
    width: 10%;
    font-size: 1em;
}


.icon {
    width: 20px;
}

.add-task {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    justify-content: space-around;
}

h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.checked-row td {
    color: #b3b3b3;
}

.checked-row .icon {
    opacity: 0.5;
}

.checked-row td p {
    text-decoration: line-through;
}

p {
    margin: 10px 0 5px;
    font-size: 1em;
}

@media only screen and (max-width: 768px) {
    .add-task {
        flex-direction: column;
        width: 90%;
    }
    .textbox {
        width: 100%;
    }
    .btn-add {
        margin-top: 10px;
        width: 100%;
    }
    .task-action {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .task-table {
        width: 95%;
        margin: 5vh auto;
        border-collapse: collapse;
        border-radius: 5px;
        overflow: hidden;
    }

    .task-row td {
        padding: 10px;
        text-align: center;
        word-wrap: break-word;
    }

        .task-row td:first-child {
            width: 10%;
        }

        .task-row td:nth-child(2) {
            width: 40%;
        }

        .task-row td:nth-child(3) {
            width: 30%;
        }

        .task-row td:last-child {
            width: 20%;
        }
}
