@page "/Tasks/Remove/{id:int}"
@model TODOFront.Pages.Tasks.RemoveModel
@{
    ViewData["Title"] = "Unimble Task - Excluir atividade";
}

<head>
    <link rel="stylesheet" href="~/css/tasks/remove.css" type="text/css" />
</head>

<div class="wrapper">
    <div class="remove-container">
        <h2 class="text-center">Excluir atividade</h2>
        <p class="text-center">Tem certeza de que deseja excluir a atividade?</p>
        <p><strong>Descrição:</strong> @Model.Task.Description</p>
        <form method="post">
            <div class="form-group">
                <button type="submit" class="btn btn-danger btn-block">Excluir</button>
                <a asp-page="/Tasks/Index" class="btn btn-secondary btn-block">Cancelar</a>
            </div>
        </form>
    </div>
</div>