@inject IHttpContextAccessor HttpContextAccessor
@{
    var httpContext = HttpContextAccessor.HttpContext!;

    var month = DateTime.Now.Month;
    var year = DateTime.Now.Year;
}

<style>
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
</style>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a asp-page="/Index" class="navbar-brand">Unimble Task</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a asp-page="/Tasks/Index" class="nav-link">Tarefas</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    @if (!httpContext.Session!.GetInt32("UserID").HasValue)
                    {
                        <a asp-page="/User/Login" class="nav-link">Login</a>
                    }
                    else
                    {
                        <a asp-page="/User/Profile" class="nav-link">@httpContext.Session!.GetString("UserName")</a>
                    }
                </li>
            </ul>
        </div>
    </nav>
</header>


