@page
@model TODOFront.Pages.Index
@{
    ViewData["Title"] = "Unimble Task - Início";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" type="text/css" />
</head>

<div class="wrapper">
    <div class="jumbotron text-center">
        <h1 class="display-4">Unimble Task</h1>
        <p class="lead">O melhor lugar para planejar e organizar suas tarefas!</p>
        <hr class="my-4">
        <p>Cadastre-se para criar tarefas personalizadas, gerenciar seu dia a dia e ser feliz.</p>
        <a asp-page="/User/Register" class="btn btn-primary btn-lg">Cadastre-se</a>
    </div>
</div>